<script>
    rails  = {};
    rails.tweet = <%= raw @tweet.to_json %>;
</script>

  <div id="tweet_edit">
     <form v-on:submit.prevent="submit" id="">
        <input v-model="tweet.title" type="text" name="" id="">
        <input v-model="tweet.comment" type="text">
        <input type="submit" name="commit" value="Create">
    </form>  
  
  </div>
   
<%= javascript_pack_tag 'tweet_edit' %>