
<div id="tweets">

  <h1>Tweets</h1>
    <table>
      <thead>
        <tr>
          <th >ツイッタータイトル</th>
          <th>ツイッター本文</th>
        </tr>
      </thead>

      <tbody>
          <tr v-for="tweet in tweets"  class= "lime" v-bind:key="tweet.id">
            <td >{{tweet.title}}</td>
            <td>{{tweet.comment}}</td>
            <td><a v-bind:href="`tweets/` + tweet.id ">詳細画面へ</a></td> 
            <td><a href="" v-on:click="destroy(tweet.id)">投稿を削除する</a></td>
          </tr>
      </tbody>
    </table>

</div>


<%= javascript_pack_tag 'tweets_vue' %>