<script>
    rails  = {};
    rails.tweet = <%= raw @tweet.to_json %>;
</script>

<p id="notice"><%= notice %></p>

<div id="tweet">
    <h1>{{tweet.id}}番のTweet</h1>
    <table>
      <thead>
        <tr>
          <th >ツイッタータイトル</th>
          <th>ツイッター本文</th>
        </tr>
      </thead>

      <tbody>
          <tr >
            <td >{{tweet.title}}</td>
            <td>{{tweet.comment}}</td>
            <td><a href="" v-on:click="edit">編集する</a></td>
            <td></td> 
          </tr>
      </tbody>
    </table>
</div>
<%= javascript_pack_tag 'tweet_show_vue' %>